## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df.drop(['EIN'], axis=1, inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_type = application_df.dtypes.index.tolist()
application_df[application_type].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<400].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"].values
X = numeric_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [13]:
# Get the input feature/ shape
input_features = X_train_scaled.shape[1]

In [14]:
# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=input_features))

In [15]:
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [16]:
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 98060

 dense_1 (Dense)             (None, 1)                 6

=================================================================
Total params: 98,066
Trainable params: 98,066
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 4ms/step - loss: 1.2195 - accuracy: 0.6847
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4056 - accuracy: 0.7793
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.2095 - accuracy: 0.9392
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1506 - accuracy: 0.9534
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1283 - accuracy: 0.9600
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1168 - accuracy: 0.9612
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.1108 - accuracy: 0.9614
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1072 - accuracy: 0.9620
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1051 - accuracy: 0.9618
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1037 - accuracy: 0.9617
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1020 - accuracy: 0.9626
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.1012 - accuracy: 0.9614
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0997 - accuracy: 0.9625
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0992 - accuracy: 0.9621
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0981 - accuracy: 0.9624
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0981 - accuracy: 0.9621
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0977 - accuracy: 0.9625
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0975 - accuracy: 0.9626
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0970 - accuracy: 0.9623
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0971 - accuracy: 0.9621
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0965 - accuracy: 0.9624
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0962 - accuracy: 0.9633
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0959 - accuracy: 0.9631
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0960 - accuracy: 0.9626
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0960 - accuracy: 0.9631
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0957 - accuracy: 0.9630
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0956 - accuracy: 0.9634
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0953 - accuracy: 0.9640
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0950 - accuracy: 0.9637
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0950 - accuracy: 0.9637
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0953 - accuracy: 0.9635
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0948 - accuracy: 0.9642
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0946 - accuracy: 0.9634
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0945 - accuracy: 0.9639
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0945 - accuracy: 0.9638
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0943 - accuracy: 0.9641
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0942 - accuracy: 0.9641
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0940 - accuracy: 0.9645
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0939 - accuracy: 0.9640
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.0936 - accuracy: 0.9642
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0938 - accuracy: 0.9641
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0935 - accuracy: 0.9645
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0933 - accuracy: 0.9646
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0934 - accuracy: 0.9646
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0936 - accuracy: 0.9646
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0933 - accuracy: 0.9648
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0931 - accuracy: 0.9648
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0927 - accuracy: 0.9650
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.0929 - accuracy: 0.9645
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.0929 - accuracy: 0.9645

In [19]:
# Evaluate the performance of model using the loss and predictive accuracy of the model on the test dataset.
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5444 - accuracy: 0.7622 - 530ms/epoch - 2ms/step
Loss: 0.5444002747535706, Accuracy: 0.7622157335281372

In [21]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')